$purple-000: #B8C140!default;
$purple-100: #B8C140 !default;
$purple-200: #B8C140 !default;
$purple-300: #B8C140 !default;

.btn-purple{
    color: $purple-000;
    background-color: $purple-000;
}

$eicaa-green: #B8C140;

$link-color: $eicaa-green;