<img src="https://eicaa.github.io/docs/assets/eu.png" width="150px" />
<div style="text-align: right; padding-left: 5%;">
    <p class="text-small text-grey-dk-000 mb-0 mr-2"> Co-Funded by the European Union. Views and opinions expressed are however
        those of the author(s) only and do not necessarily reflect those of the
        European Union or the European Education and Culture Executive Agency (EACEA).
        Neither the European Union nor EACEA can be held responsible for them.</p>
</div>
<br />

<a class="text-small text-grey-dk-000 mb-0 mr-2">
  This site was developed by<a
    class="text-small mb-0 mr-2"
    href="https://adsata.com"
    >Adsata</a
  >
</a>
<br />
